<div>
  <h1> {{title}} </h1>
  <form action="">
      Name:<input type="text" name="name" required placeholder="Enter Name" [(ngModel)]="userDetail.name">
      Meetingroom:
      <select [(ngModel)]="userDetail.meetingroom" name="room">
        <option *ngFor="let room of MeetingRooms" [ngValue]="room.room_id">{{ room.room_name }}</option>
      </select>
      Date:<input type="date" name="date" required placeholder="Date" [(ngModel)]="userDetail.date">
      Time:
      <select [(ngModel)]="userDetail.time" name="slot">
        <option *ngFor="let slot of Timing" [ngValue]="slot.slot_id">{{ slot.slot_name }}</option>
      </select>
      Agenda:<input type="text" name="phone" required placeholder="Agenda" [(ngModel)]="userDetail.agenda">
      <button class="add" (click)="itemAdd()" *ngIf="!(this.UpdateFlag)">Meeting room</button>
      <button class="add" (click)="Update()" *ngIf="this.UpdateFlag">Update</button>
    </form>

</div><br>
<div class="table">
<h1>Meeting-Details</h1>
  <table>
      <tr>
          <th>Sno</th>
          <th>UserName</th>
          <th>MeetingRoom</th>
          <th>Date</th>
          <th>Time</th>
          <th>Agenda</th>
          <th>Actions</th>
      </tr>
      <tr *ngFor ="let user of userdeatils">
          <td>{{user.id }}</td>
          <td>{{user.name}}</td>
          <td>{{user.meetingroom}}</td>
          <td>{{user.date}}</td>
          <td>{{user.time}}</td>
          <td>{{user.agenda}}</td>
          <td>
              <button class="btn" (click)="itemDel(user.id)">Remove</button> &nbsp;
              <button class="btn" (click)="edit(user)">Edit</button> &nbsp;
          </td>
      </tr>      
                         
  </table>
</div>
